<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Board Register</title>
</head>

<form action="/restaurant/register" method="post" enctype="multipart/form-data">
    <div>
        <span>가게이름</span>
        <input type="text" name="name" placeholder="가게이름">
    </div>

    <div>
        <span>카테고리</span>
        <select name="categories">
            <option value="한식">한식</option>
            <option value="중식">중식</option>
            <option value="일식">일식</option>
            <option value="카페">카페</option>
        </select>
    </div>

    <div>
        <span>openingTime</span>
        <select name="openingTime">
            <option th:each="number : ${#numbers.sequence(10, 21)}"
                    th:value="${number}" th:text="${number}"></option>
        </select>
    </div>

    <div>
        <span>closingTime</span>
        <select name="closingTime">
            <option th:each="number : ${#numbers.sequence(11, 22)}"
                    th:value="${number}" th:text="${number}"></option>
        </select>
    </div>

    <div>
        <span>위치</span>
        <input type="text" name="location" placeholder="location">
    </div>

    <div>
        <span>번호</span>
        <input type="text" name="callNumber" placeholder="callNumber">
    </div>

    <div>
        <span>설명</span>
        <input type="text" name="description" placeholder="description">
    </div>

    <div>
        <span>이미지 업로드</span>
        <input type="file" name="files">
    </div>

    <div>
        <div>
            <button type="submit">Submit</button>
            <button type="reset">Reset</button>
        </div>
    </div>
</form>

<!--<script th:inline="javascript">-->

<!--    const errors = [[${errors}]]-->
<!--    console.log(errors)-->

<!--    let errorMsg = ''-->

<!--    if(errors){-->
<!--        for (let i = 0; i < errors.length; i++) {-->
<!--            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`-->
<!--        }-->
<!--        alert(errorMsg)-->
<!--    }-->

<!--</script>-->
